<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi5YvzCuWxBjmTL2TV6QJj5sLD6E2MByY</string>
	<key>GCM_SENDER_ID</key>
	<string>259909029002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calvignac.bibiacier</string>
	<key>PROJECT_ID</key>
	<string>bibi-d-acier</string>
	<key>STORAGE_BUCKET</key>
	<string>bibi-d-acier.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259909029002:ios:7a915099807055191db173</string>
</dict>
</plist>